/* Product */

.product {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
}

.product__info {
    display: flex;
}

.product__text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-grow: 1;
    margin-top: 22px;
    margin-bottom: 22px;
}

.product__title {
    width: 80px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

.product__properties li {
    display: flex;
    justify-content: space-between;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
}


/* More products */

.more-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 25px;
}

.more-products__figure {
    position: relative;
    width: 30px;
    height: 30px;
    margin-bottom: 25px;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: block;
        height: 2px;
        width: 100%;
        background-color: #e6e6e6;
    }

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        height: 100%;
        width: 2px;
        background-color: #e6e6e6;
    }
}

.more-products__title {
    width: initial;
    margin-bottom: 10px;
}

.more-products__subtitle {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: #444444;
}

.more-products__link {
    margin-top: auto;
    width: 100%;
}


@media (min-width: $tabletView) {
    .product {
        justify-content: flex-end;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 40px;
        background: linear-gradient(#ffffff 80px, #f2f2f2 80px, #f2f2f2 100%);
        border-bottom: none;
    }

    .product__info {
        flex-direction: column;
    }

    .product__img {
        display: flex;
        height: 208px;
        align-self: center;

        img {
            margin-top: auto;
        }
    }

    .product__text {
        align-self: stretch;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .product__title {
        align-self: center;
        width: 140px;
        margin-bottom: 25px;
        font-size: 20px;
        text-align: center;
    }

    .product__properties li {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 16px;
        border-bottom: 1px solid #cdcdcd;
    }


    /* More products */

    .products-list__item {
        display: flex; // to stretch
    }

    .more-products {
        margin-top: 80px;
        padding-top: 50px;
        background: #ffffff;
        border: 1px solid #e6e6e6;
    }

    .more-products__figure {
        width: 60px;
        height: 60px;
        margin-bottom: 50px;
    }

    .more-products__subtitle {
        font-size: 16px;
    }
}