/* Page title */

.page-title {
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 37px;
    padding-left: $mobileIndent;
    padding-right: $mobileIndent;
    font-size: 36px;
    font-weight: normal;
    color: #111111;

    &--single {
        border-bottom: 1px solid #ededed;
    }
}

.page-subtitle {
    width: 260px;
    margin-bottom: 40px;
    margin-left: $mobileIndent;
    font-size: 14px;
    text-transform: uppercase;
    color: #111111;
}

@media (min-width: $tabletView) {
    .page-title {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $tabletIndent;
        padding-right: $tabletIndent;
        margin-bottom: 60px;
        font-size: 60px;
        border-bottom: none;
    }

    .page-subtitle {
        width: 400px;
        margin-bottom: 70px;
        margin-left: $tabletIndent;
        padding-left: 40px;
        font-size: 20px;
    }
}

@media (min-width: $desktopView) {
    .page-title {
        padding-left: $desktopIndent;
        padding-right: $desktopIndent;
    }

    .page-subtitle {
        width: 360px;
        margin-left: $desktopIndent;
        padding-left: 0;
    }
}


/* Flow */

.flow-title {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
        padding-left: $mobileIndent;
        padding-right: 24px;
        font-size: 24px;
        font-weight: normal;
        color: #111111;
    }

    &:before,
    &:after {
        content: "";
        display: block;
        height: 3px;
        margin-top: 6px;
        background-color: #68b738;
    }

    &:after {
        flex-grow: 1;
    }
}


@media (min-width: $tabletView) {
    .flow-title {
        padding-top: 65px;
        padding-bottom: 60px;

        h2 {
            padding-left: 40px;
            padding-right: 40px;
            font-size: 36px;
        }

        &:before,
        &:after {
            margin-top: 11px;
        }

        &:before {
            width: $tabletIndent;
        }
    }
}

@media (min-width: $desktopView) {
    .flow-title {
        padding-bottom: 75px;

        &:before {
            width: calc(50% - #{$desktopView} / 2 - 40px); // subtract padding-left of title
        }
    }
}