@font-face {
    font-family: 'Oswald';
    font-display: swap;
    src:
        url("../fonts/Oswald-Regular.woff2") format("woff2"),
        url("../fonts/Oswald-Regular.woff") format("woff"),
        url("../fonts/Oswald-Medium.woff2") format("woff2"),
        url("../fonts/Oswald-Medium.woff") format("woff");
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 16px;
    color: #111111;
}

.visually-hidden {
    // To hide content
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 


/* Button */

.btn {
    padding: 12px;

    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
      
    border: none;
    cursor: pointer;

    &--green {
        color: #ffffff;
        background-color: #68b738;

        &:hover {
            background-color: #5eaa2f;
        }

        &:active {
            color: rgba(255, 255, 255, 0.3);
        }
    }

    &--grey {
        color: #444444;
        background-color: #f2f2f2;

        &:hover {
            background-color: #ebebeb;
        }

        &:active {
            color: rgba(68, 68, 68, 0.3);
        }
    }
}