/* Catalog */

.catalog__title {
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 37px;
    font-size: 36px;
    font-weight: normal;
    border-bottom: 1px solid #ededed;
}


@media (min-width: $tabletView) {
    .catalog {
        margin-bottom: 65px;
    }

    .catalog__title {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 80px;
        font-size: 60px;
        border-bottom: none;
    }
    
    .products-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: $tabletIndent;
        padding-right: $tabletIndent;
    }

    .products-list__item {
        min-height: 518px;
        width: 45%;
        margin-top: 60px;

        &:nth-child(-n+2) {
            margin-top: 0;
        }

        &:not(:nth-child(2n)) {
            margin-right: 60px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

@media (min-width: $desktopView) {
    .catalog {
        margin-bottom: 75px;
    }

    .products-list {
        justify-content: flex-start;
        padding-left: $desktopIndent;
        padding-right: $desktopIndent;
    }

    .products-list__item {
        width: 245px;

        &:nth-child(-n+4) {
            margin-top: 0;
        }

        &:not(:nth-child(4n)) {
            margin-right: 80px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}