/* Advantages */

.advantages {
    padding-left: $mobileIndent;
    padding-right: $mobileIndent;
}

.advantages__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        display: block;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        margin-right: 20px;
        background-color: #68b738;
        background-repeat: no-repeat;
        background-position: center;
    }

    &--eco::before {
        background-image: url("../images/advantage--eco.png");
    }

    &--easy::before {
        background-image: url("../images/advantage--easy.png");
    }

    &--functional::before {
        background-image: url("../images/advantage--functional.png");
    }

    &--quickly::before {
        background-image: url("../images/advantage--quickly.png");
    }
}


@media (min-width: $tabletView) {
    /* Advantages */

    .advantages {
        padding-left: $tabletIndent;
        padding-right: $tabletIndent;
        border-bottom: 1px solid #e6e6e6;
    }

    .advantages__list {
        display: flex;
        flex-wrap: wrap;
    }

    .advantages__item {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: calc(50% - 120px);
        min-height: 230px;
        margin-right: 90px;

        font-size: 16px;
        line-height: 24px;

        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        &:after {
            content: "2";
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            display: block;
            height: 100%;

            font-family: "Oswald",
            sans-serif;
            font-size: 281px;
            color: #f2f2f2;
            line-height: 0.74em;
        }

        &--eco:after {
            content: "1";
        }

        &--easy:after {
            content: "2";
        }

        &--functional:after {
            content: "3";
        }

        &--quickly:after {
            content: "4";
        }

        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 90px;
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
            margin-bottom: 0;
        }

        &:nth-child(odd) {
            margin-right: 150px;
        }

        &::before {
            width: 80px;
            height: 80px;
            margin-bottom: 35px;
        }
    }

    .advantages__item p {
        width: 100%; // IE 11
    }
}


@media (min-width: $desktopView) {
    /* Advantages */
    
    .advantages {
        padding-left: $desktopIndent;
        padding-right: $desktopIndent;
        border-bottom: none;
    }

    .advantages__list {
        justify-content: space-between;
    }

    .advantages__item {
        width: 235px;
        margin-right: 0;

        &:nth-child(odd) {
            margin-right: 0;
        }

        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 0;
        }
    }
}