/* Nutrition program`s */

.nutrition-programs {
    padding-left: $mobileIndent;
    padding-right: $mobileIndent;
}

.programs-list .nutrition-program:not(:last-of-type) {
    margin-bottom: 20px;
}


@media (min-width: $tabletView) {
    /* Nutrition program`s */

    .nutrition-programs {
        padding-left: $tabletIndent;
        padding-right: $tabletIndent;
    }

    .programs-list .nutrition-program:not(:last-of-type) {
        margin-bottom: 30px;
    }
}


@media (min-width: $desktopView) {
    /* Nutrition program`s */

    .nutrition-programs {
        padding-left: $desktopIndent;
        padding-right: $desktopIndent;
    }

    .programs-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .programs-list .nutrition-program:not(:last-of-type) {
        margin-bottom: 0;
    }
}